### Symfony Configurations ###
.env
.env.local
.env.test
.env.*.local
/config/secrets/prod/prod.decrypt.private.php

### Ignorar carpetas generadas ###
/var/
/vendor/
/public/bundles/

### Ignorar activos generados ###
/public/assets/
/assets/vendor/

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache

### Logs y caché ###
/var/log/
/var/cache/

### Symfony lock ###
/symfony.lock

### IDE y herramientas locales ###
*.idea
*.vscode
.DS_Store

### Otros ###
/node_modules/
/dist/
/coverage/
